@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// custom Css


input[ type="checkbox"]{
  position: absolute;
  left: -100vw;
}

[for="vote"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 2.5em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

[for="vote"]:hover {
  color: grey;
}

[for="vote"]::selection {
  color: none;
  background: transparent;
}

[for="vote"]::moz-selection {
  color: none;
  background: transparent;
}

[id="vote"]:checked + label {
  color: #e2264d;
  will-change: font-size;
}



